body{
    background-color: white;
    color: #303030;
    font-family: 'PT Sans', sans-serif;
    margin: 20px;
}

main{
    background-color: #f0f0f0;
    margin: 20px auto;
    max-width: 450px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px lightgray;
}

ol{
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

li{
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px
}

li:nth-child(odd){
    background-color: #f0f0f0;
}

form{
    background-color: mediumpurple;
    border-radius: 5px;
    margin: 0;
    padding: 10px;
}

button{
    background-color: rebeccapurple;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 5px 10px;
    text-transform: uppercase;
}

input{
    border: none;
    border-radius: 3px;
    padding: 5px;
}

#initials{
    width: 40px;
}

#message{
    width: 300px;
}